#current-weather-container {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 5px
}

#current-weather-header{
    color: white;
}

#current-weather-icon {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

#current-weather-container h3 {
    color: white;
    margin: 0;
}

.weather-condition{
    display: inline-block;
    color: white;
    margin: 0;
}

.star {
    background-color: #efefef;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #767676;
    font-size: 0.9rem;
}

.star.true {
    color: #e8c32c;
}

.star.false {
    color: gray
}